TIK_ENVIRONMENT=production
TIK_TIKTOK_CLIENT_KEY=
TIK_TIKTOK_CLIENT_SECRET=
TIK_TIKTOK_REDIRECT_URI=https://tik.topachadinhos.com.br/oauth/callback
TIK_ANTHROPIC_API_KEY=
TIK_DATABASE_URL=sqlite:///./data/tik.db
